@media (max-width: 650px) {
    body{
        margin: 0;
    }

    .images{
        display: none;
    }

    .container{
        background: linear-gradient(to bottom,rgb(0,0,0,0) ,rgb(0,0,0,0.2)) ;
        background-image: url("img/GS_pic.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}