/* body {
    overflow: hidden;
} */

p {
    margin: 10px 0;
}

a{
    text-decoration: none;
}

.flex {
    display: flex;
}

.divide {
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.container {
    padding: 10px 2% 15px;
    flex: 1 1 50%;
}

.container header {
    justify-content: space-between;
}

.container .button {
    padding: 5% 20px 10px;
}

.button .btn{
    display: block;
    color: inherit;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: gainsboro;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.button fieldset{
    border-left: none;
    border-bottom: none;
    border-right: none;
    color: rgb(0, 0, 0, 0.6);
}

.button fieldset legend{
    text-align: center;
    padding:0 10px;
    color: inherit;
}

.button .logs {
    text-align: center;
}

.button .logs a{
    text-decoration: none;
}

.container footer {
    color: rgb(0, 0, 0, 0.6);
}

.container footer ul {
    display: flex;
    gap: 10px;
    padding-inline-start: 0;
    list-style-type: none;
}

.container footer ul a{
    color: inherit;
    text-decoration: none;
}

.images {
    position: relative;
    flex: 0 0 50%;
    border-radius: 10px;
}

.images .img{
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 30px);
    border-radius: inherit;
    opacity:90%;
}

.cards {
    position: absolute;
    bottom: 2%;
}

.cards h3{
    width: 100%;
}

.material-symbols--mail {
display: inline-block;
width: 1.2rem;
height: 1em;
--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z'/%3E%3C/svg%3E");
background-color: black;
-webkit-mask-image: var(--svg);
mask-image: var(--svg);
-webkit-mask-repeat: no-repeat;
mask-repeat: no-repeat;
-webkit-mask-size: 100% 100%;
mask-size: 100% 100%;
}

.ic--baseline-apple {
display: inline-block;
width: 1.4rem;
height: 1em;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M17.05 20.28c-.98.95-2.05.8-3.08.35c-1.09-.46-2.09-.48-3.24 0c-1.44.62-2.2.44-3.06-.35C2.79 15.25 3.51 7.59 9.05 7.31c1.35.07 2.29.74 3.08.8c1.18-.24 2.31-.93 3.57-.84c1.51.12 2.65.72 3.4 1.8c-3.12 1.87-2.38 5.98.48 7.13c-.57 1.5-1.31 2.99-2.54 4.09zM12.03 7.25c-.15-2.23 1.66-4.07 3.74-4.25c.29 2.58-2.34 4.5-3.74 4.25'/%3E%3C/svg%3E");
}

.ic--baseline-facebook {
display: inline-block;
width: 1.2rem;
height: 1em;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='Blue' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
}

.devicon--google {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fff' d='M44.59 4.21a63.28 63.28 0 0 0 4.33 120.9a67.6 67.6 0 0 0 32.36.35a57.13 57.13 0 0 0 25.9-13.46a57.44 57.44 0 0 0 16-26.26a74.33 74.33 0 0 0 1.61-33.58H65.27v24.69h34.47a29.72 29.72 0 0 1-12.66 19.52a36.16 36.16 0 0 1-13.93 5.5a41.29 41.29 0 0 1-15.1 0A37.16 37.16 0 0 1 44 95.74a39.3 39.3 0 0 1-14.5-19.42a38.31 38.31 0 0 1 0-24.63a39.25 39.25 0 0 1 9.18-14.91A37.17 37.17 0 0 1 76.13 27a34.28 34.28 0 0 1 13.64 8q5.83-5.8 11.64-11.63c2-2.09 4.18-4.08 6.15-6.22A61.22 61.22 0 0 0 87.2 4.59a64 64 0 0 0-42.61-.38'/%3E%3Cpath fill='%23e33629' d='M44.59 4.21a64 64 0 0 1 42.61.37a61.22 61.22 0 0 1 20.35 12.62c-2 2.14-4.11 4.14-6.15 6.22Q95.58 29.23 89.77 35a34.28 34.28 0 0 0-13.64-8a37.17 37.17 0 0 0-37.46 9.74a39.25 39.25 0 0 0-9.18 14.91L8.76 35.6A63.53 63.53 0 0 1 44.59 4.21'/%3E%3Cpath fill='%23f8bd00' d='M3.26 51.5a62.93 62.93 0 0 1 5.5-15.9l20.73 16.09a38.31 38.31 0 0 0 0 24.63q-10.36 8-20.73 16.08a63.33 63.33 0 0 1-5.5-40.9'/%3E%3Cpath fill='%23587dbd' d='M65.27 52.15h59.52a74.33 74.33 0 0 1-1.61 33.58a57.44 57.44 0 0 1-16 26.26c-6.69-5.22-13.41-10.4-20.1-15.62a29.72 29.72 0 0 0 12.66-19.54H65.27c-.01-8.22 0-16.45 0-24.68'/%3E%3Cpath fill='%23319f43' d='M8.75 92.4q10.37-8 20.73-16.08A39.3 39.3 0 0 0 44 95.74a37.16 37.16 0 0 0 14.08 6.08a41.29 41.29 0 0 0 15.1 0a36.16 36.16 0 0 0 13.93-5.5c6.69 5.22 13.41 10.4 20.1 15.62a57.13 57.13 0 0 1-25.9 13.47a67.6 67.6 0 0 1-32.36-.35a63 63 0 0 1-23-11.59A63.73 63.73 0 0 1 8.75 92.4'/%3E%3C/svg%3E");
  }

.ic--baseline-arrow-right-alt {
display: inline-block;
width: 1rem;
height: 1em;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%233416ca' d='M16.01 11H4v2h12.01v3L20 12l-3.99-4z'/%3E%3C/svg%3E");
}


@media (max-width: 650px) {
    body{
        margin: 0;
    }

    .images{
        display: none;
    }

    .container{
        background: linear-gradient(to bottom,rgb(0,0,0,0) ,rgb(0,0,0,0.2)) ;
        background-image: url("img/GS_pic.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}